$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*Google Custom Fonts*/
@import url('https://fonts.googleapis.com/css?family=Capriola|Sniglet|Lato:400,700');

.browsehappy {
  margin: 0.2em 0;
  background: #F7E9D9;
  color: #000;
  padding: 0.2em 0;
}

/* Reset boostrap styles */
body {
  padding: 0px;
}

.navbar-default {
  background-color: #F7E9D9;
}

.navbar {
  margin-bottom: 0px;
  padding-bottom: 10px;

}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* change default bootstrap styles for headings*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 0.9;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}

.nav {
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0px;
  background-color: #F7E9D9;
  padding-top: 5px;
  font-size: medium;
  text-align: center;
  height: 50px;

  li a {
    color: #33302D; /*global text color for nav links*/
  }

  li a:hover {
    background-color: #8658CC;
    color: #F7E9D9;
  }

} /*end of nav styles*/

.logo {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
}

section {
  display: block;
  padding-bottom: 380px;
  padding-top: 40px;
  border-bottom: 4px solid #33302D;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary, .btn-primary:visited {
  background-color: #AD9E87;
  color: #F7E9D9;
  border-color: #CCBA9F;
}

.btn-primary:hover {
  background-color: #8658CC;
  color: #C49EFF;
  border-color: #9562E3;
}


.btn-default, .btn-default:visited { /*social link footer buttons*/
  background-color: #AD9E87;
  color: #F7E9D9;
  border-color: #CCBA9F;
}

.btn-default:hover {
  background-color: #8658CC;
  color: #C49EFF;
  border-color: #9562E3;
}


/* Custom page footer */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F7E9D9;
  color: #33302D;
  width: auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}


blockquote {
  padding: 10px 15px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 4px solid #33302D;
}

/*Custom Narative Page Styles*/
#abtsect {

  background-color: #DB2F46;
  color: #F7E9D9;

  /* Homepage Hero and Download Button*/
  .jumbotron {
    text-align: center;
    background: url("../images/hero1.jpg") no-repeat center center;
    background-size: cover;
    color: #DB2F46;
    .btn {
      font-size: 21px;
      padding: 14px 24px;
    }
    h1 {
      -webkit-text-stroke: 0.5px #F7E9D9;
    }
  }

  .lead {
    font-size: 20px;
    background-color: rgba(247,233,217,0.8);
    padding: 6px;
    border-radius: 4px;
  }

  p a {
    color: #F7E9D9;
    text-decoration: underline;
  }

  p a:hover {
    color: #C49EFF;
  }

} /*end of homepage styles*/

#projsect {

  background-color: #1E97C9;
  color: #F7E9D9;


  .thumbnail .btn-default { /*project page thumbnail button styles*/
      background-color: #1E97C9;
      color: #F7E9D9;
      border-color: #F7E9D9;
    }

  .thumbnail .btn-default:hover {
    background-color: #F7E9D9;
    border-color: #F7E9D9;
    color: #1E97C9;
  }

} /*end of project page styles*/

#skillsect {

  background-color: #F0A320;
  color: #F7E9D9;

  span { /*center icons on top of skills paragraphs*/
    margin: auto;
    display: table;
  }

  .sectitl {
    background-color: rgba(255,187,34,0.5);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 1px;
  }

  .section{
    background-color: #FFBB22;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;

    ul { /*custom bullet point styles*/
      list-style-type: none;
    }
    li {
      display: block;
    }
    li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #8658CC;
    }
  }


} /*end of skill page styles*/

#cowksect {

  background-color: #079972;
  color: #F7E9D9;

  .courtitl {
    background-color: rgba(10,207,154,0.5);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 1px;
  }

  .courdesc {
    background-color: #0acf9a;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
  }

} /*end of work page styles*/

div .thumbnail {
  background-color: rgba(255,255,255, 0.3);
  border: none;
  padding: 5px;

  .caption {
    color: #F7E9D9;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  body {
    background-color: #F7E9D9;
  }
  .container {
    max-width: 768px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
    {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 900px) { /*center footer text for smaller screens*/
  .footer {
    text-align: center;
    padding-bottom: 40px;
  }
}
